* {
  margin: 0;
  padding: 0;
}

body {
  background: #f0e8cf;
  font-family: 'YuMincho', 'HiraMinProN-W6';
  font-size: 1.2vw;
  header {
    .main-title {
      position: relative;
      .title {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        a {
          img {
            width: 20vw;
          }
        }
      }
      .reservation {
        position: absolute;
        top: 60%;
        left: 70%;
        display: inline-block;
        width: 20%;
        height: 30%;
        color: #555;
        font-size: 1.5vw;
        background: #eed88f;
        border: solid 5px #555;
        border-radius: 50%;
        z-index: 10;
        &::before {
          content: "";
          position: absolute;
          bottom: -35px;
          left: 52%;
          margin-left: -15px;
          border: 20px solid transparent;
          border-top: 20px solid #eed88f;
          z-index: 2;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -43px;
          left: 52%;
          margin-left: -17px;
          border: 21px solid transparent;
          border-top: 21px solid #555;
          z-index: 1;
        }
        &:hover {
          animation: bound 3.2s linear 0s infinite;
          cursor: pointer;
        }
        p {
          color: #555;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          line-height: 5vh;
        }
      }
      .main-img {
        overflow: hidden;
        img {
          width: 100%;
          vertical-align: middle;
          animation: animationZoom 10s ease-in-out forwards;
          z-index: -1;
        }
      }
    }
    .menu-command {
      .menu-btn {
        display: none;
      }
      .nav {
        text-align: center;
        list-style: none;
        background: #f0e8cf;
        display: table;
        table-layout: fixed;
        width: 100%;
        li {
          display: table-cell;
          box-sizing: border-box;
          border-left: 1px dashed;
          vertical-align: middle;
          &:first-child {
            border-left: none;
          }
          a {
            color: #292929;
            line-height: 30px;
            text-decoration: none;
            display: block;
            transition: all .5s;
            &:hover {
              color: #000;
              transform: scale(1.2, 1.2);
            }
          }
        }
      }
      .bg {
        display: none;
      }
    }
  }
  main {
    #at-first {
      margin: 50px auto 0;
      background-image: url(images/2642257_m.jpg);
      background-size: cover;
      background-color: rgba(255, 255, 255, 0.7);
      background-blend-mode: lighten;
      border: 10px solid rgba(105, 81, 1, 0.7);
      border-radius: 4px;
      width: 90%;
      .at-first-message {
        margin: 0 auto;
        padding-bottom: 100px;
        width: 70%;
        h2 {
          padding-top: 50px;
          font-size: 4vw;
        }
        p {
          padding-top: 50px;
          line-height: 30px;
          a {
            font-size: 1.5vw;
            color: #00f;
          }
          &.repre {
            float: right;
            font-size: 1.7vw;
          }
        }
      }
    }
    #hotel-intro {
      clear: both;
      margin-top: 200px;
      width: 90%;
      margin: 200px auto 0;
      .intro-title {
        text-align: center;
        h2 {
          font-size: 5vw;
          color: #333;
          margin-bottom: 100px;
        }
      }
      .onsen,.dishes,.facility-info {
        margin: 0 auto 100px;
        width: 95%;
        display: flex;
        justify-content: space-between;
        &__text {
          padding-left: 50px;
          width: 50%;
          h3 {
            display: inline-block;
            font-size: 3vw;
            border-bottom: 1px solid;
          }
          p {
            padding-top: 30px;
            padding-right: 50px;
            line-height: 30px;
            color: #333;
          }
          a {
            text-decoration: none;
            button {
              margin-left: 50%;
              margin-top: 30px;
              padding: 10px;
              width: 200px;
              background: #704d00;
              border: none;
              color: #e6e6e6;
              border-radius: 5px;
              box-shadow: 2px 2px #553a01;
              cursor: pointer;
              transition: all .1s;
              &:hover {
                background: #493200;
                box-shadow: none;
                margin-top: 32px;
                margin-left: calc(50% + 2px);
                margin-bottom: -2px;
                
              }
            }
          }
        }
        &__img {
          width: 50%;
          position: relative;
          img {
            position: absolute;
            width: 100%;
            border-radius: 50%;
            border: 10px solid #fff;
          }
        }
      }
    }
    #access {
      margin: 300px auto 0;
      width: 80%;
      h3 {
        display: inline-block;
        margin-left: 50px;
        font-size: 3vw;
        border-bottom: 1px solid;
      }
      .access-info {
        display: flex;
        justify-content: space-between;
        position: relative;
        .access-map {
          padding-top: 100px;
          img {
            width: 500px;
          }
        }
        .address {
          position: absolute;
          top: 50%;
          left: 50%;
          p {
            font-size: 1.7vw;
            line-height: 50px;
          }
        }
      }
      .car {
        margin: 100px auto 0;
        width: 100%;
        position: relative;
        h4 {
          display: inline-block;
          margin-left: 50px;
          font-size: 2vw;
          border-bottom: 1px solid;
        }
        ul {
          margin: 20px auto 20px 100px;
          font-size: 1.5vw;
        }
        a {
          position: absolute;
          width: 320px;
          top: 100%;
          right: 10%;
          font-size: 20px;
          text-decoration: none;
          color: #000;
          cursor: pointer;
          &:before {
            content: "";
            position: absolute;
            top: 10px;
            right: -20px;
            width: 2px;
            height: 20px;
            background: #000;
            animation: sample01 2s ease-in-out infinite;
          }
          &:after {
            content: "";
            position: absolute;
            top: 30px;
            right: -25px;
            width: 2px;
            height: 50vh;
            background: #000;
            transform-origin:100% 0%;
            animation: sample02 2s ease-in-out infinite;
            
          }
        }
      }
      .public {
        margin: 100px auto 0;
        width: 100%;
        position: relative;
        h4 {
          display: inline-block;
          margin-left: 50px;
          font-size: 2vw;
          border-bottom: 1px solid;
        }
        .shinkansen, .train, .plane {
          margin: 20px auto 20px 100px;
          h5 {
            font-size: 1.8vw;
          }
          ul {
            padding-left: 50px;
            font-size: 1.5vw;
          }
        }
        a {
          position: absolute;
          width: 320px;
          top: 100%;
          right: 10%;
          font-size: 20px;
          text-decoration: none;
          color: #000;
          cursor: pointer;
          &:before {
            content: "";
            position: absolute;
            top: 10px;
            right: -20px;
            width: 2px;
            height: 20px;
            background: #000;
            animation: sample01 2s ease-in-out infinite;
          }
          &:after {
            content: "";
            position: absolute;
            top: 30px;
            right: -25px;
            width: 2px;
            height: 50vh;
            background: #000;
            transform-origin:100% 0%;
            animation: sample02 2s ease-in-out infinite;
            
          }
        }
      }
    }
  }
  footer {
    margin-top: 100px;
    background: #eed88f;
    #footer {
      display: flex;
      justify-content: space-between;
      height: 300px;
      .footer-info {
        margin-left: 10%;
        .footer-main-title {
          img {
            width: 300px;
            margin-top: 50px;
          }
        }
        .footer-address {
          span {
            display: block;
            line-height: 30px;
          }
          .sns-icon {
            margin-top: 10px;
             a {
               img {
                width: 50px;
                padding-right: 30px;
              }
            }
          }
        }
      }
      .footer-nav {
        padding-top: 50px;
        padding-right: 300px;
        ul {
          list-style: none;
          display: flex;
          flex-flow: column wrap;
          max-width: 320px;
          max-height: 200px;
          li {
            margin-right: 100px;
            width: 200px;
            a {
              position: relative;
              display: inline-block;
              color: #000;
              text-decoration: none;
              font-size: 1.5vw;
              line-height: 50px;
              &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 2px;
                background: #333;
                transform: scale(0, 1);
                transform-origin: center top;
                transition: transform .3s;
              }
              &:hover::after {
                transform: scale(1, 1);
              }
            }
          }
        }
      }
    }
    
    small {
      display: block;
      text-align: center;
      line-height: 60px;
      background: #000;
      color: #fff;
    }
  }
}

@keyframes animationZoom {
  0% {
    transform: scale(1);
  }
   100% {
     transform: scale(1.1);
   }
}
@keyframes sample01  {
  0% {
    transform: translateX(0px) skew(31deg);
  }
  50% {
    transform: translateX(10px) skew(31deg);
  }
  100% {
    transform: translateX(0px) skew(31deg);
  }
}

@keyframes sample02  {
  0% {
    transform: translateX(0px) rotate(90deg);;
  }
  50% {
    transform: translateX(10px) rotate(90deg);
  }
  100% {
    transform: translateX(0px) rotate(90deg);
  }
}

@keyframes bound {
  0%   { 
    transform: scale(1.0, 1.0) translate(0%, 0%); 
  }
  5%  { 
    transform: scale(0.9, 0.9) translate(0%, 5%); 
  }
  10%  { 
    transform: scale(1.3, 0.8) translate(0%, 10%); 
  }
  15%  { 
    transform: scale(0.8, 1.3) translate(0%, -10%); 
  }
  20%  { 
    transform: scale(1.1, 0.9) translate(0%, 5%); 
  }
  25% { 
    transform: scale(1.0, 1.0) translate(0%, 0%); 
  }
  100% { 
    transform: scale(1.0, 1.0) translate(0%, 0%);
  }
}


@media (max-width: 1000px) {
  @import "breakpoints/1000max";
}

@media (max-width: 800px) {
  @import "breakpoints/800max";
}

@media (max-width: 650px) {
  @import "breakpoints/650max";
}
