body {
  font-size: 3vw;
  header {
    .main-title {
      .title {
        position: fixed;
        width: 100%;
        height: 70px;
        background: #a8b401;
        a {
          img {
            position: absolute;
            top: 20%;
            left: 3%;
            width: 130px;
          }
        }
      }
      .reservation {
        position: fixed;
        top: 10px;
        left: 230px;
        width: 100px;
        height: 50px;
        font-size: 8px;
        border-radius: 5%;
        border: solid 2px;
        &::before {
          bottom: 20px;
          left: 3px;
          border-top: transparent;
          border-left: 20px solid #eed88f;
          transform: rotate(-45deg);
        }
        &::after {
          bottom: 20px;
          left: 2px;
          border-top: transparent;
          border-left: 20px solid;
          transform: rotate(-45deg);
        }
        p {
          line-height: 16px;
        }
      }
      .main-img {
        padding-top: 70px;
        vertical-align: bottom;
      }
    }
    .menu-command {
      .menu-button {
        position: fixed;
        top: 30px;
        left: 180px;
        z-index: 10;
        .menu-btn {
          position: absolute;
          cursor: pointer;
          background: rgba(255, 255, 255, 0);
          display: block;
          border: none;
          span {
            background: #ffffff;
            height: 3px;
            display: block;
            margin-bottom: 9px;
            border-radius: 25%;
            transition: transform 0.4s;
            &:nth-child(1) {
              width: 30px;
            }
            &:nth-child(2) {
              width: 30px;
            }
            &:nth-child(3) {
              width: 30px;
              margin-bottom: 0;
            }
          }
        }
      }
      .nav {
        display: flex;
        flex-flow: column wrap;
        position: fixed;
        transition: all 0.5s;
        z-index: 17;
        table-layout: auto;
        top: 0;
        left: -500px;
        padding-top: 100px;
        opacity: 0;
        width: 100%;
        height: 600px;
        list-style: none;
        background:rgba(255, 255, 255, 0);
        li {
          display: flex;
          border-left: none;
          padding: 20px;
          a {
            text-decoration: none;
            color: #000;
            font-size: 30px;
            line-height: 70px;
          }
        }
      }
      .bg {
        top: 0%;
        left: -100%;
        transition: all 0.5s;
        opacity: 0;
        display: block;
        position: fixed;
        z-index: 15;
        width: 100%;
        height: 120%;
        background: #fff;
      }
      &.menu-open  {
        .menu-button {
          z-index: 20;
          .menu-btn {
            position: relative;
            background: rgba(255, 255, 255, 0);
            & > span {
              &:nth-child(1) {
                transform: translate(40vw,12px) rotate(225deg);
                background: #000;
                opacity: 0.5;
                transition: transform ease-in-out .5s;
              }
              &:nth-child(2) {
                transform: translateX(-18px) scale(0);
              }
              &:nth-child(3) {
                transform: translate(40vw,-12px) rotate(-225deg);
                background: #000;
                opacity: 0.5;
                transition: transform ease-in-out .5s;
              }
            }
          }
        }
        .nav {
          left: 0;
          opacity: 0.9;
          list-style: none;
          li {
            a {
              padding-bottom: 3px;
              position: relative;
              display: inline-block;
              color: #000;
              &::after {
                content: "";
                width: 0;
                transition: all 0.3s ease;
                border-bottom: 2px solid #000;
                display: block;
              }
              &:hover {
                &::after {
                  width: 100%;
                  border-bottom: 2px solid #000;
                }
              }
            }
          }
        }
        .bg {
          left: 0;
          opacity: .9;
          cursor: pointer;
        }
      }
    }
  }
  main {
    #at-first {
      .at-first-message {
        h2 {
          font-size: 5vw;
        }
        p {
          &.repre {
            font-size: 3.5vw;
          }
        }
      }
    }
    #hotel-intro {
      .intro-title {
        h2 {
          font-size: 6vw;
        }
      }
      .onsen,.dishes,.facility-info {
        &__text {
          h3 {
            font-size: 4vw;
          }
        }
      }
    }
    #access {
      h3 {
        font-size: 4vw;
      }
      .access-info {
        .address {
          top: 5%;
          p {
            font-size: 2.5vw;
          }
        }
      }
      .car {
        width: 100%;
        margin-left: 0;
        text-align: center;
        h4 {
          font-size: 4vw;
        }
        ul {
          margin-left: 0;
          list-style-position: inside;
          font-size: 3.5vw;
        }
        a {
          position: absolute;
          margin-top: 70px;
          top: 50%;
          left: 50%;
          transform: translateX(-50%);
          &:before {
            top: 30px;
          }
          &:after {
            top: 50px;
            height: 230px;
          }
        }
      }
      .public {
        width:100%;
        margin: 0;
        margin-top: 170px;
        text-align: center;
        h4 {
          font-size: 4vw;
        }
        .shinkansen, .train, .plane {
          margin-left: 0;
          h5 {
            font-size: 4vw;
          }
          ul {
            padding: 0;
            padding-top: 10px;
            list-style-position: inside;
            font-size: 3.5vw;
          }
        }
        a {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  footer {
    #footer {
      display: block;
      margin-top: 200px;
      .footer-info {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        .footer-address {
          font-size: 3.5vw;
        }
      }
      .footer-nav {
        padding: 0px;
        text-align: center;
        ul {
          flex-flow: row wrap;
          justify-content: space-between;
          min-width: 375px;
          margin-left: 0px;
          margin: 0 auto;
          li {
            margin-right: 0px;
            max-width: 90px;
            a {
              font-size: 2.2vw;
            }
          }
        }
      }
    }
    small {
      margin-top: 50px;
    }
  }
}
